.formcontrol{
    align-items: center;
}

.addTimeBlockSection h1 {
    margin: 0; /* Reset any default margin */
    font-family: 'Orelega One', sans-serif;
    font-size: 1.5em;
    padding-left: 1em;
}